<template>
    <v-layout>
        <v-navigation-drawer dark permanent value="true" :class="showEditor ? 'navigation-drawer--main editor-open' : 'navigation-drawer--main'">
            <list :connections="connections" @updated="changed()"></list>
            <v-layout align-center justify-center class="pa-2">
                <v-switch label="Show the editor" v-model="showEditorSwitch" @click="toogleEditor()"></v-switch>
            </v-layout>
        </v-navigation-drawer>

        <v-container v-if="showEditor">
            <editor v-if="selected" :connection="selected" @changed="changed()"></editor>
        </v-container>
    </v-layout>
</template>

<script>
import electron from '@/electron'
import Editor from '@/components/Editor'
import List from '@/components/List'
import { mapGetters } from 'vuex'

export default {
    components: {
        'editor': Editor,
        'list': List,
    },
    mounted () {
        const items = electron.find()
        this.$store.commit('reset', items)
        electron.listen('toggle-editor', () => this.toogleEditor(false))
    },
    data: () => ({
        showEditor: false,
        showEditorSwitch: false,
    }),
    methods: {
        changed () {
            electron.update(this.connections)
        },
        toogleEditor (propagate = true) {
            this.showEditor = !this.showEditor
            this.showEditorSwitch = this.showEditor

            if (propagate) {
                electron.toggleEditor()
            }
        },
    },
    computed: {
        ...mapGetters([
            'selected',
            'connections',
        ]),
    },
}
</script>

<style lang="scss" scoped>
    .navigation-drawer--main {
        height: auto !important;
        flex: 1;

        &.editor-open {
            flex: 1 0 auto;
        }
    }
</style>
