<template>
    <v-form v-model="valid">
        <v-layout align-center justify-center class="pa-2">
            <v-switch label="Only group" v-model="connection.group"></v-switch>
        </v-layout>

        <v-card class="pa-3 ma-1">
            <v-layout wrap>
                <v-flex xs12 md6 class="pa-1">
                    <v-text-field v-model="connection.name" label="Name" :rules="[rules.required]" required></v-text-field>
                </v-flex>
                <v-flex xs12 md6 class="pa-1" v-if="!connection.group">
                    <v-text-field v-model="connection.username" label="Username" :rules="[rules.required]" required></v-text-field>
                </v-flex>
                <v-flex xs12 md6 class="pa-1" v-if="!connection.group">
                    <v-text-field v-model="connection.host" label="Host" :rules="[rules.required]" required></v-text-field>
                </v-flex>
                <v-flex xs12 md6 class="pa-1">
                    <v-tooltip top>
                        <v-select
                            :items="connectionsFlattenWithoutMe"
                            v-model="parent"
                            item-text="name"
                            item-value="id"
                            label="Parent"
                            single-line
                            slot="activator"
                            @change="updateParent($event)"
                        ></v-select>
                        <span>Change immediately</span>
                </v-flex>
                <v-flex xs12 md4 class="pa-1">
                    <v-layout align-center>
                        <v-text-field v-model="connection.icon" label="Icon" class="mr-3"></v-text-field>
                        <icon :name="connection.icon"></icon>
                    </v-layout>
                </v-flex>
                <v-flex xs12 md4 class="pa-1">
                    <v-text-field v-model="connection.color" label="Color" :color="connection.color"></v-text-field>
                </v-flex>
                <v-flex xs12 md4 class="pa-1">
                    <v-layout align-center>
                        <v-slider v-model="connection.order" min="1" max="20"></v-slider>
                        <span>{{ connection.order }}</span>
                    </v-layout>
                </v-flex>
            </v-layout>
        </v-card>

        <v-card class="pa-3 ma-1" v-if="!connection.group">
            <v-layout wrap>
                <v-flex xs12 md6 class="pa-1">
                    <v-layout align-center>
                        <v-text-field v-model="connection.password" :type="showPassword ? 'text' : 'password'" label="Password" :disabled="connection.pem.length > 0 || connection.public_key"></v-text-field>
                        <v-btn flat icon small @click="showPassword = !showPassword">
                            <icon :name="showPassword ? 'eye' : 'eye-slash'"></icon>
                        </v-btn>
                    </v-layout>
                </v-flex>
                <v-flex xs12 md6 class="pa-1">
                    <v-text-field v-model="connection.pem" label="PEM (Amazon)" :disabled="connection.public_key || connection.password.length > 0"></v-text-field>
                </v-flex>
            </v-layout>
            <v-switch label="Use public key" v-model="connection.public_key" :disabled="connection.pem.length > 0 || connection.password.length > 0"></v-switch>
        </v-card>

        <v-card class="pa-3 ma-1">
            <v-card-actions>
                <v-btn v-if="!connection.group" :disabled="!valid" @click="ssh()">ssh</v-btn>
                <v-btn v-if="!connection.group" :disabled="!valid" @click="sftp()">sftp</v-btn>
                <v-spacer></v-spacer>
                <v-btn @click="save()" :disabled="!valid">save</v-btn>
                <v-tooltip top>
                    <v-btn :disabled="!connection.id || (connection.children && connection.children.length > 0)" @click="remove()" slot="activator">remove</v-btn>
                    <span>You can remove an element only if it hasn't children</span>
                </v-tooltip>
            </v-card-actions>
        </v-card>
    </v-form>
</template>

<script>
import { mapGetters } from 'vuex'
import electron from '@/electron'

export default {
    props: ['connection'],
    watch: {
        connection () {
            this.setParent()
        },
    },
    data: () => ({
        connection: {},
        showPassword: false,
        rules: {
            required: v => !!v || 'required',
        },
        parent: {},
        valid: false,
    }),
    methods: {
        emit () {
            this.$emit('changed')
        },
        save () {
            this.$store.commit('update', this.connection)
            this.emit()
        },
        remove () {
            this.$store.commit('remove', this.connection)
            this.emit()
        },
        setParent () {
            if (this.connection) {
                const parent = this.$store.getters.connectionParent(this.connection)
                this.parent = parent ? parent.id : null
            }
        },
        updateParent (newParentId) {
            this.$store.commit('remove', this.connection)

            if (newParentId === 0) {
                this.$store.commit('addRoot', this.connection)
            } else {
                const newParent = this.$store.getters.connectionFind({ id: newParentId })

                if (!newParent.children) {
                    newParent.children = []
                }

                newParent.children.push(this.connection)
                newParent.expanded = true
                this.$store.commit('update', newParent)
            }

            this.emit()
        },
        ssh () {
            electron.ssh(this.connection)
        },
        sftp () {
            electron.sftp(this.connection)
        },
    },
    computed: {
        ...mapGetters([
            'connectionsFlatten',
        ]),
        connectionsFlattenWithoutMe () {
            const connections = [{ id: 0, name: 'root' }]

            this.connectionsFlatten
                .filter(connection => this.connection.id !== connection.id)
                .forEach(connection => connections.push(connection))

            return connections
        },
    },
    mounted () {
        this.setParent()
    },
}
</script>
