<template>
    <v-expansion-panel dark class="elevation-0">
        <v-expansion-panel-content
            class="list-content-padding"
            :hide-actions="!connection.children || connection.children.length === 0"
            @input="expand($event)"
            :value="connection.expanded"
        >
            <div slot="header" @mouseover="active = true" @mouseleave="active = false" @click="expand()" @dblclick.stop="ssh()">
                <v-layout align-center>
                    <icon class="mr-2" v-if="connection.icon" :name="connection.icon" :color="connection.color"></icon>
                    <v-btn flat small @click.stop="select()" :color="connection.color">
                        {{ connection.name }}
                    </v-btn>
                    <v-btn v-if="active" small flat icon color="primary" @click.stop="add()">
                        <icon name="plus"></icon>
                    </v-btn>
                </v-layout>
            </div>
            <v-card>
                <list-recursive v-for="child in childrenOrdered" :key="child.name" :connection="child" @updated="emit()"></list-recursive>
            </v-card>
        </v-expansion-panel-content>
    </v-expansion-panel>
</template>

<script>
import * as _ from 'lodash'
import electron from '@/electron'

export default {
    name: 'list-recursive',
    props: [
        'connection',
    ],
    data: () => ({
        active: false,
    }),
    methods: {
        select () {
            this.$store.commit('select', this.connection)
        },
        add () {
            this.$store.commit('add', this.connection)
            this.emit()
        },
        emit () {
            this.$emit('updated')
        },
        expand (v) {
            if (v === false) {
                this.connection.expanded = v
            } else {
                this.connection.expanded = true
            }

            this.emit()
        },
        ssh () {
            if (!this.connection.group) {
                electron.ssh(this.connection)
            }
        },
    },
    computed: {
        childrenOrdered () {
            if (this.connection.children && this.connection.children.length > 0) {
                return _.sortBy(this.connection.children, 'order')
            } else {
                return []
            }
        },
    },
}
</script>

<style scoped lang="scss">
    .list-content-padding {
        padding-left: 20px;
    }
</style>
