<template>
    <div class="wrapper">
        <list-recursive v-for="connection in connectionsOrdered" :key="connection.name" :connection="connection" @updated="emit()"></list-recursive>
    </div>
</template>

<script>
import * as _ from 'lodash'
import ListRecursive from './ListRecursive'

export default {
    props: ['connections'],
    components: {
        'list-recursive': ListRecursive,
    },
    methods: {
        emit () {
            this.$emit('updated')
        },
    },
    computed: {
        connectionsOrdered () {
            return _.sortBy(this.connections, 'order')
        },
    },
}
</script>

<style lang="scss" scoped>
    .wrapper {
        flex-basis: inherit;
    }
</style>
